body {
    /*padding-top: 10px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.pic {
    padding-left:20%;
}
#sectionAbout {padding-top:200px;height:500px;color: #fff; background-color: #1E88E5;}
#sectionProduct {padding-top:200px;height:500px;color: #fff; background-color: #673ab7;}
#sectionGallery {padding-top:200px;height:500px;color: #fff; background-color: #ff9800;}
#sectionContact {padding-top:200px;height:500px;color: #fff; background-color: #00bcd4;}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

