body {
    padding-bottom: 10px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

.body {
    background-color: white;
    padding-bottom: 10px;
}

.scrol {
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.BasicPadding {
    padding-top: 120px;
    padding-left: 75px;
    padding-right: 75px;
}

.navbar-nav {
    display: table;
    width: 100%;
}

.courusel {
    width: 75px;
    height: inherit;
}

.Icon {
    /*color: darkslategrey;*/
    padding-right: 15px;
    padding-left: 15px;
    /*background-color: whitesmoke;*/
    color: black;
}


.NavbarLi {
    width: 25%;
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    color: white;
}

.NavbarPadding {
    padding-left: 50px;
}

.ContactPadding {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: justify;
}

.ProductPage {
    border: ridge;
    border-color: burlywood;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.FotterPading {
    padding-bottom: 20px;
}

img {
    max-height: inherit;
    height: auto;
    width: auto;
    display: block;
}

hr {
    margin: unset;
    padding: unset;
    color: black;
}

.Logo {
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    font-size: xx-large;
    color: white;
    letter-spacing: 10px;
}

.LogoBottom {
    padding-top: 5px;
    padding-left: 0;
    padding-right: 0;
    font-size: large;
    color: white;
    letter-spacing: 5px;
}

.Text {
    text-align: justify;
    font-size: medium;
}

.ContactList {
    background-color: black;
    color: white;
    font-size: large;
}


.thumb img {
    filter: none; 
    -webkit-filter: grayscale(0);
    border-radius: 5px;
    background-color: #fff;
    /*border: 1px solid #ddd;*/
    border: none;
    padding: 5px;
    
}

.thumb img:hover {
    filter: gray; 
    -webkit-filter: grayscale(1);
}

.thumb {
    padding: 5px;
}
