body {
    height:inherit;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

.body {
    background-color: white;
}

.scrol {
    overflow-y: scroll;
    overflow-x: auto;
    border-bottom: none;
    padding-bottom: 0px;
    height: 100%;
    max-height:100%;
    
}

.pre-scrollable{
    height:100%;
    max-height:100%;
}

.navbar-nav {
    display: inline;
    width: 100%;
    opacity: 0.4;
    background-color: black;
    height:50px;
}

.courusel {
    width: 75px;
    height: auto;
}

.Icon {
    /*color: darkslategrey;*/
    padding-right: 15px;
    padding-left: 15px;
    /*background-color: whitesmoke;*/
    color: white;
}


.NavbarLi {
    width: 25%;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    color:black;
    opacity:1;
}


.ContactPadding {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: justify;
}

.SectionName {
    padding-top:20px;
    font-size:28px;
}
.ProductPage {
    border: ridge;
    border-color: burlywood;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

img {
    max-height: inherit;
    height: auto;
    width: auto;
    display: block;
}

hr {
    margin: unset;
    padding: unset;
    color: black;
}

.Logo {
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    font-size: xx-large;
    color: white;
    letter-spacing: 10px;
    opacity: 0.4;
}

a:hover {
    color: white;
    text-decoration: none;
}

.btn-block:hover {
    color: #44302a;
}


.LogoBottom {
    padding-top: 5px;
    padding-left: 0;
    padding-right: 0;
    font-size: x-large;
    color: white;
    letter-spacing: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Text {
    text-align: justify;
    font-size: medium;
}

.ContactList {
    background-color: black;
    color: white;
    font-size: large;
}

.btn-block:checked {
    color: forestgreen;
}

.ContactList:hover {
    background: -moz-linear-gradient(top, #249ee4, #057cc0);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#249ee4), to(#057cc0));
}

.ContactList:focus {
    color: yellow;
    background: -moz-linear-gradient(top, #057cc0, #249ee4);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#057cc0), to(#249ee4));
}

.thumb img {
    filter: none;
    -webkit-filter: grayscale(0);
    border-radius: 1px;
    background-color: #fff;
    /*border: 1px solid #ddd;*/
    border: none;
    padding: 5px;
}

    .thumb img:hover {
        filter: gray;
        -webkit-filter: grayscale(1);
    }

.thumb {
    padding: 5px;
}

.Section1{
    background-color:#724c3a;
}
.Section2 {
    background-color:#eae2e0;
}

.Section3 {
    background: url('../Source/About.jpg'), no-repeat center fixed;
    background-size:cover;
    /*background-color: #724c3a;*/
}
.Section4 {
    background-color: #eae2e0;
}
.Section5 {
    background-color: #44302a;
}