@{
    ViewBag.Title = "About";
}
<div id="sectionAbout">
    <h1>sectionAbout</h1>
    <p>Try to scroll this page and look at the navigation bar while scrolling!</p>

    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <p>Use this area to provide additional information.</p>
</div>

