@{
    ViewBag.Title = "Contact";
}
<div class="BasicPadding">
    <div class="container Page">
        <div class="scrol pre-scrollable">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="container">
                        <button type="button" class="btn btn-block ContactList" data-toggle="collapse" data-target="#Step1">
                            Шаг 1: С чего начать
                        </button>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div id="Step1" class="collapse ContactPadding Text">
                        <p>Просто напишите или позвоните мне и собщите о своем желании обрести изделие.</p>
                        <p>Контакты: ...</p>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="container">
                        <button type="button" class="btn btn-block ContactList" data-toggle="collapse" data-target="#Step2">
                            Шаг 2: Знакомство
                        </button>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div id="Step2" class="collapse text-center ContactPadding Text">
                        <p>
                            Так как изделие уникальное и создается именно для вас, мне нужно с вами познакомиться, чтобы понимать, для кого я его буду делать. Поэтому я предложу встретиться или созвониться.
                        </p>
                        <p>
                            Во время встречи или звонка мы обсуждаем:
                        </p>
                        <ul style="list-style-type:disc">
                            <li>как вы планируете использовать изделие</li>
                            <li>какая форма предпочтительна (я предложу несколько вариантов для отправной 	точки)</li>
                            <li>какой цвет и фактура вам нравится (идеально, если вы пришлете мне картинку с 	примером желаемого цвета или предпочтительную палитру)</li>
                            <li>я предложу несколько вариантов кольцевых механизмов на ваш выбор (если они 	нужны)</li>
                            <li>мы обсудим пожелания по внутреннему наполнению (страницы линованные, в 	клетку, в точку, пустые; возможные цитаты и иллюстрации; ежедневник или записная 	книга)</li>
                            <li>вид и количество секционных разделитей, если вы их хотите</li>
                            <li>возможные аксессуары</li>
                            <li>приблизительная стоимость</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>

            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="container">
                        <button type="button" class="btn btn-block ContactList" data-toggle="collapse" data-target="#Step3">
                            Шаг 3: Утверждение концепта
                        </button>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div id="Step3" class="collapse text-center ContactPadding Text">
                        <p>
                            На складе я подбираю подходящую кожу (беру для вас образцы), создаю эскиз.
                        </p>
                        <p>
                            Мы свами согласовываем будущий вид вашего изделия. Я озвучиваю окончательную стоимоть работы.
                        </p>
                        <p>
                            Как только вы чувствуете, что это именно то, что бы вы хотели, мы начинаем. Обычно это происходит после слов заказчика "я уже хочу свой блокнот".
                        </p>
                        <p>
                            Чтоб начать, вы вносите 50% стоимости и я перехожу к созданию.
                        </p>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>

            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="container">
                        <button type="button" class="btn btn-block ContactList" data-toggle="collapse" data-target="#Step4">
                            Шаг 4: Создание
                        </button>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div id="Step4" class="collapse text-center ContactPadding Text">
                        <p>
                            Для создания мне нужно от 1 до 4 недель (в зависимости от сложности работы).
                        </p>
                        <p>
                            Я держу вас в курсе основных этапов.
                        </p>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>

            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="container">
                        <button type="button" class="btn btn-block ContactList" data-toggle="collapse" data-target="#Step5">
                            Шаг 5: Окончание работы
                        </button>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div id="Step5" class="collapse text-center ContactPadding Text">
                        <p>
                            Как только работа завершена, я передаю или пересылаю вам ваше изделие. Вы вносите остальную сумму*.
                        </p>
                        <p>
                            * При пересылке изделия по почте вносится 100% предоплата после утверждения эскиза.
                        </p>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </div>

    <a class="left carousel-control courusel" href="/home/Gallery" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control courusel" href="/home/Index" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
