
@{
    ViewBag.Title = "Diarys";
}
@section Scripts {
    @Scripts.Render("~/Scripts/jquery.fancybox.pack.js")
    <script type="text/javascript">
        $(document).ready(function () {
            $("a.fancyimage").fancybox();
        });
    </script>
    <script type="text/javascript">
        $('.carousel').carousel({
            interval: 1000,
            pause: 'hover',
            wrap: true
        });
    </script>
}
<div class="BasicPadding">

    <div class="row">
        <div class="col-sm-6 col-lg-6 col-md-6 Text">
            <div class="text-center">
                <h2>
                    ЕЖЕДНЕВНИКИ
                </h2>
            </div>
            <p>
                Однажды я поняла, что сущность человека отражается во всем, к чему он прикасается. Все, абсолютно все вещи, которыми окружает себя их хозяин, что-то о нем рассказывают. И наоборот, мы интуитивно стремимся найти "свои" вещи, "своих" людей.
            </p>
            <p>
                Согласитесь, мы всегда точно знаем, если нашли "свое" платье, никаких сомнений не возникает. Мои коллеги называют это явление "встречей" с вещью. Встреча в этом смысле происходит, когда мы находим что-то, точно отражающее нас самих, наше состояние и мироощущение.
            </p>
            <br />
            <p>
                Есть выражение: "Скажи мне, кто твой друг, и я скажу, кто ты". Делая блокнот, абсолютно все: цвет, фактуру, вид застежки, аксессуары или их отсутствие, формат, форму, внутреннее наполнение, я подбираю исходя из будущего хозяина. В каждой детали есть смысл.
            </p>
        </div>
        <div class="col-sm-6 col-lg-6 col-md-6 text-center">


            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>

                <div class="carousel-inner" role="listbox">

                    <div class="item active">
                        <div class="thumb">
                            <a class="fancyimage" data-fancybox-group="group" href="~/Source/diarys/Pic_5.png">
                                <img class="img-responsive" src="~/Source/diarys/Pic_5.png" />
                            </a>
                        </div>

                        @*<img src="img_chania.jpg" alt="Chania" width="460" height="345">*@
                    </div>

                    <div class="item">
                        <div class="thumb">
                            <a class="fancyimage" data-fancybox-group="group" href="~/Source/diarys/Pic_4.png">
                                <img class="img-responsive" src="~/Source/diarys/Pic_4.png" />
                            </a>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumb">
                            <a class="fancyimage" data-fancybox-group="group" href="~/Source/diarys/Pic_3.png">
                                <img class="img-responsive" src="~/Source/diarys/Pic_3.png" />
                            </a>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumb">
                            <a class="fancyimage" data-fancybox-group="group" href="~/Source/diarys/Pic_1.png">
                                <img class="img-responsive" src="~/Source/diarys/Pic_1.png" />
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                @*<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>*@

            </div>



        </div>
    </div>
    <a class="left carousel-control courusel" href="/home/Index" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control courusel" href="/home/Product" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

