@{
    ViewBag.Title = "Gallery";
}
<div class="BasicPadding">
    <h1>Gallery section</h1>
    <a class="left carousel-control courusel" href="/home/Product" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control courusel" href="/home/Contact" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

    <div class="ProductPage col-lg-offset-2 col-lg-8">
        <div class="row"><p></p>
            <div class="col-md-5 ProductPage">
                <p>a</p>
                <p>a</p>
                <p>a</p>
            </div>
            <div class="row">
                <div class="col-md-1 ProductPage">
                    <p>b</p>
                    <p>b</p>
                </div>
                <div class="col-md-3 ProductPage">
                    <p>c</p>
                    <p>c</p>
                </div>
                <div class="col-md-3 ProductPage">
                    <p>d</p>
                    <p>d</p>
                </div>
            </div>
            <p></p>
        </div>
    </div>
</div>