@{
    ViewBag.Title = "Gallery";
}
<div class="BasicPadding">
    <br/>
    <br />

    <ul class="thumbnails">
        <li class="span3">
            <a href="#" class="thumbnail">
                <img src="~/Source/Лого.jpg" alt="">
            </a>
        </li>
    </ul>

    <a class="left carousel-control courusel" href="/home/Product" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control courusel" href="/home/Contact" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    
</div>