@{
    ViewBag.Title = "Lidia Mechenite";
}

@*Главное фото с логотипом*@
<div class="Section1">
    <div class="row">
        <div class="col-lg-offset-3 col-lg-6 text-center">
            <img src="~/Source/About.jpg" alt="Logo" class="img-rounded img-responsive" />
        </div>
    </div>
</div>

@*Галерея работ-проектов*@
<div class="Section2">
    <div class="container">
        <div class="row text-center SectionName">
            <p>Галерея</p>
        </div>

        @*<table class="table">
            <tbody>*@
        @*строка <tr>*@
        @*столбцы <td>*@
        @*</tbody>
            </table>*@

        <div class="container">
            <div class="col-md-5">
                <div class="row">
                    ст1 стр1
                </div>
                <div class="row">
                    ст1 стр2
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">ст2 стр1 с1</div>
                <div class="col-md-4">ст2 стр1 с2</div>
                <div class="col-md-4">ст2 стр1 с3</div>
            </div>
            <div class="row">
                ст2 стр2
            </div>
            <div class="col-md-7">
                
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-6 thumb">
                <a class="fancyimage" data-fancybox-group="group" href="~/Source/diarys/B_1.png">
                    <img class="img-responsive" src="~/Source/Little/diarys/B_1.png" />
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 thumb">
                <a class="fancyimage" data-fancybox-group="group" href="~/Source/diarys/B_3.png">
                    <img class="img-responsive" src="~/Source/Little/diarys/B_3.png" />
                </a>

            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 thumb">
                <a class="fancyimage" data-fancybox-group="group" href="~/Source/diarys/B_5.png">
                    <img class="img-responsive" src="~/Source/Little/diarys/B_5.png" />
                </a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-6 thumb">
                <a class="fancyimage" data-fancybox-group="group" href="~/Source/diarys/B_2.png">
                    <img class="img-responsive" src="~/Source/Little/diarys/B_2.png" />
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 thumb">
                <a class="fancyimage" data-fancybox-group="group" href="~/Source/diarys/B_4.png">
                    <img class="img-responsive" src="~/Source/Little/diarys/B_4.png" />
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 thumb">
                <a class="fancyimage" data-fancybox-group="group" href="~/Source/diarys/Pic_1.png">
                    <img class="img-responsive" src="~/Source/Little/diarys/Pic_1.png" />
                </a>
            </div>
        </div>

        <div class="col-lg-8">
            <button type="button" class="btn btn-block" data-toggle="collapse" data-target="#AllGalery">
                Смотреть все работы
            </button>
        </div>
        <div id="AllGalery" class="collapse text-center">
            <p>
                Здесь дожны быть остальные работы из галереи
            </p>
        </div>
    </div>
</div>

@*Обо мне*@
<div class="Section3">
    <div class="container">
        <div class="row text-center SectionName">
            <p>Обо мне</p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-6 col-md-6 Text">
                <p></p>
                <p></p><p></p>
                <p>
                    Однажды я поняла, что сущность человека отражается во всем, к чему он прикасается. Все, абсолютно все вещи, которыми окружает себя их хозяин, что-то о нем рассказывают. И наоборот, мы интуитивно стремимся найти "свои" вещи, "своих" людей.
                </p>
                <p>
                    Согласитесь, мы всегда точно знаем, если нашли "свое" платье, никаких сомнений не возникает. Мои коллеги называют это явление "встречей" с вещью. Встреча в этом смысле происходит, когда мы находим что-то, точно отражающее нас самих, наше состояние и мироощущение.
                </p>
                <p>
                    Есть выражение: "Скажи мне, кто твой друг, и я скажу, кто ты". Делая блокнот, абсолютно все: цвет, фактуру, вид застежки, аксессуары или их отсутствие, формат, форму, внутреннее наполнение, я подбираю исходя из будущего хозяина. В каждой детали есть смысл.
                </p>
                <p>
                    Поэтому своим клиентам я предлагаю не просто изделия высокого качества, я предлагаю встречи с их экзистенциальными вещами. Как нет двух одинаковых людей, так и не может быть двух одинаковых блокнотов.
                </p>
            </div>
            @*<div class="col-sm-6 col-lg-6 col-md-6 text-center">
                    <img src="~/Source/About.jpg" alt="Foto" class="img-rounded img-responsive" />
                </div>*@
        </div>
    </div>
</div>

@*Как заказать*@
<div class="Section4">
    <div class="container">
        <div class="row text-center SectionName">
            <p>Как заказать</p>
        </div>

        @*<div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="container">
                        <button type="button" class="btn btn-block ContactList" data-toggle="collapse" data-target="#Step1">
                            Шаг 1: С чего начать
                        </button>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div id="Step1" class="collapse ContactPadding Text">
                        <p>Просто напишите или позвоните мне и собщите о своем желании обрести изделие.</p>
                        <p>Контакты: ...</p>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="container">
                        <button type="button" class="btn btn-block ContactList" data-toggle="collapse" data-target="#Step2">
                            Шаг 2: Знакомство
                        </button>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div id="Step2" class="collapse text-center ContactPadding Text">
                        <p>
                            Так как изделие уникальное и создается именно для вас, мне нужно с вами познакомиться, чтобы понимать, для кого я его буду делать. Поэтому я предложу встретиться или созвониться.
                        </p>
                        <p>
                            Во время встречи или звонка мы обсуждаем:
                        </p>
                        <ul style="list-style-type:disc">
                            <li>как вы планируете использовать изделие</li>
                            <li>какая форма предпочтительна (я предложу несколько вариантов для отправной 	точки)</li>
                            <li>какой цвет и фактура вам нравится (идеально, если вы пришлете мне картинку с 	примером желаемого цвета или предпочтительную палитру)</li>
                            <li>я предложу несколько вариантов кольцевых механизмов на ваш выбор (если они 	нужны)</li>
                            <li>мы обсудим пожелания по внутреннему наполнению (страницы линованные, в 	клетку, в точку, пустые; возможные цитаты и иллюстрации; ежедневник или записная 	книга)</li>
                            <li>вид и количество секционных разделитей, если вы их хотите</li>
                            <li>возможные аксессуары</li>
                            <li>приблизительная стоимость</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>

            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="container">
                        <button type="button" class="btn btn-block ContactList" data-toggle="collapse" data-target="#Step3">
                            Шаг 3: Утверждение концепта
                        </button>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div id="Step3" class="collapse text-center ContactPadding Text">
                        <p>
                            На складе я подбираю подходящую кожу (беру для вас образцы), создаю эскиз.
                        </p>
                        <p>
                            Мы свами согласовываем будущий вид вашего изделия. Я озвучиваю окончательную стоимоть работы.
                        </p>
                        <p>
                            Как только вы чувствуете, что это именно то, что бы вы хотели, мы начинаем. Обычно это происходит после слов заказчика "я уже хочу свой блокнот".
                        </p>
                        <p>
                            Чтоб начать, вы вносите 50% стоимости и я перехожу к созданию.
                        </p>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>

            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="container">
                        <button type="button" class="btn btn-block ContactList" data-toggle="collapse" data-target="#Step4">
                            Шаг 4: Создание
                        </button>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div id="Step4" class="collapse text-center ContactPadding Text">
                        <p>
                            Для создания мне нужно от 1 до 4 недель (в зависимости от сложности работы).
                        </p>
                        <p>
                            Я держу вас в курсе основных этапов.
                        </p>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>

            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="container">
                        <button type="button" class="btn btn-block ContactList" data-toggle="collapse" data-target="#Step5">
                            Шаг 5: Окончание работы
                        </button>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div id="Step5" class="collapse text-center ContactPadding Text">
                        <p>
                            Как только работа завершена, я передаю или пересылаю вам ваше изделие. Вы вносите остальную сумму*.
                        </p>
                        <p>
                            * При пересылке изделия по почте вносится 100% предоплата после утверждения эскиза.
                        </p>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>*@
    </div>
</div>

@*Контакты в соцсетях*@
<div class="Section5">
    <div class="container">
        <div class="row body-content text-center">
            <a class="btn Icon">
                <i class="fa fa-3x fa-facebook-official" aria-hidden="true"></i>
            </a>
            <a class="btn Icon">
                <i class="fa fa-3x fa-vk" aria-hidden="true"></i>
            </a>

            <a class="btn Icon">
                <i class="fa fa-3x fa-instagram" aria-hidden="true"></i>
            </a>

            <a class="btn Icon">
                <i class="fa fa-3x fa-envelope-o" aria-hidden="true"></i>
            </a>

            <a class="btn Icon">
                <i class="fa fa-3x fa-skype" aria-hidden="true"></i>
            </a>
            <a class="btn Icon">
                <i class="fa fa-3x fa-phone-square" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>

