@*@{
    ViewBag.Title = "Home Page";
}*@
<div class="container container-fluid" data-spy="scroll" data-target=".navbar" data-offset="10">
    

    <div id="sectionAbout" class="container-fluid">
        <h1>РАЗДЕЛ О ПРОЕКТЕ</h1>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
    </div>



    <div id="sectionProduct" class="container-fluid" >
        <h1>РАЗДЕЛ ИЗДЕЛИЯ</h1>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
    </div>

    <div id="sectionGallery" class="container-fluid">
        <h1>РАЗДЕЛ ГАЛЕРЕЯ</h1>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
    </div>

    <div id="sectionContact" class="container-fluid">
        <h1>РАЗДЕЛ КАК С НАМИ СВЯЗАТЬСЯ</h1>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
       
            
    </div>
</div>