@{
    ViewBag.Title = "Lidia Mechenite";
}


@*Главное фото с логотипом*@
<div class="Section1" id="Section1">
    <div class="row">
        <div class="col-lg-offset-3 col-lg-6 text-center">
            <img src="~/Source/Logo.jpg" alt="Logo" class="img-rounded img-responsive" />
        </div>
    </div>
</div>

@*Галерея работ-проектов*@
<div class="Section2" id="Section2">
    <div class="container">
        <br />
        <div class="row text-center SectionName">
            <p>Галерея</p>
        </div>
        <br />
        @*Часть 1*@
        <div class="row">
            <ul class="media-list main-list">
                <li class="col-sm-5">
                    <img class="img img-responsive" src="~/Source/1Block/1.jpg" alt="..." style="width:100%; height:100%">
                    <br />
                    <img class="img img-responsive" src="~/Source/1Block/2.jpg" alt="..." style="width:100%; height:100%">
                </li>
                <li class="col-sm-7">
                    <ul class="media-list">
                        <li class="col-sm-4">
                            <img class="img img-responsive" src="~/Source/1Block/3.jpg" alt="...">
                        </li>
                        <li class="col-sm-4">
                            <img class="img img-responsive" src="~/Source/1Block/4.jpg" alt="...">
                        </li>
                        <li class="col-sm-4">
                            <img class="img img-responsive" src="~/Source/1Block/5.jpg" alt="...">
                        </li>
                        <li class="media col-sm-12">
                            <br />
                            <img class="img-responsive" src="~/Source/1Block/6.jpg" alt="...">
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <br />

        @*Часть 2*@
        <div class="row">
            <div class="col-sm-7">
                <img class="img-responsive" src="~/Source/NoteBooks/1.jpg" alt="...">
            </div>
            <div class="col-sm-5">
                <ul class="media-list main-list">
                    <li class="media col-sm-6">
                        <img class="img-responsive" src="~/Source/NoteBooks/2.jpg" alt="...">
                    </li>
                    <li class="media col-sm-6">
                        <img class="img-responsive" src="~/Source/NoteBooks/_IGP0898.jpg" alt="...">
                    </li>
                    <li class="media col-sm-12">
                        <br />
                        <img class="img-responsive" src="~/Source/NoteBooks/4.jpg" alt="...">
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-8">
        <button type="button" class="btn btn-block" data-toggle="collapse" data-target="#AllGalery">
            Смотреть все работы
        </button>
    </div>
    <div id="AllGalery" class="collapse text-center">
        <p>
            Здесь дожны быть остальные работы из галереи
        </p>
    </div>
    <br />
</div>


@*Обо мне*@
<div class="Section3" id="Section3">
    <div class="container">
        <br />
        <div class="row text-center SectionName">
            <p>Обо мне</p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-6 col-md-6 Text">
                <p></p>
                <p></p><p></p>
                <p>
                    Однажды я поняла, что сущность человека отражается во всем, к чему он прикасается. Все, абсолютно все вещи, которыми окружает себя их хозяин, что-то о нем рассказывают. И наоборот, мы интуитивно стремимся найти "свои" вещи, "своих" людей.
                </p>
                <p>
                    Согласитесь, мы всегда точно знаем, если нашли "свое" платье, никаких сомнений не возникает. Мои коллеги называют это явление "встречей" с вещью. Встреча в этом смысле происходит, когда мы находим что-то, точно отражающее нас самих, наше состояние и мироощущение.
                </p>
                <p>
                    Есть выражение: "Скажи мне, кто твой друг, и я скажу, кто ты". Делая блокнот, абсолютно все: цвет, фактуру, вид застежки, аксессуары или их отсутствие, формат, форму, внутреннее наполнение, я подбираю исходя из будущего хозяина. В каждой детали есть смысл.
                </p>
                <p>
                    Поэтому своим клиентам я предлагаю не просто изделия высокого качества, я предлагаю встречи с их экзистенциальными вещами. Как нет двух одинаковых людей, так и не может быть двух одинаковых блокнотов.
                </p>
            </div>
            <div class="col-sm-6 col-lg-6 col-md-6 text-center">
                <img src="~/Source/About.jpg" alt="Foto" class="img-rounded img-responsive" />
            </div>
        </div>
    </div>
    <br />
</div>


@*Как заказать*@
<div class="Section4" id="Section4">
    <div class="container">
        <br />
        <div class="row text-center SectionName">
            <p>Как заказать</p>
        </div>
        <br />
        <div class="col-sm-7 TextContact">
            <p>
                Просто напишите или позвоните мне и сообщите о своем желании приобрести изделие.
            </p>
            <p>
                После того, как мы с вами обсудим основную концепцию и детали, я подготовлю эскиз.
            </p>
            <p>
                Для изготовления мне нужно от 1 до 4 недель в зависимости от сложности работы.
            </p>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="text" class="form-control" placeholder="Имя" id="tbName">
                </div>
                <br />
                <div class="col-sm-12">
                    <input type="text" class="form-control" placeholder="Электронный адрес" id="tbMail">
                </div>
                <br />
                <div class="col-sm-12">
                    <textarea class="form-control" rows="3" placeholder="Сообщение" id="tbMessage"></textarea>
                </div>
                <br />
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-success form-control" id="sendMailBtn" onclick="sendMail(); return false">Отправить</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</div>

<script>
    $(document).ready(function () {
        $("#sendMailBtn").click(function () {
            $('#sendMailModal').modal('show');
        });
    });
</script>
<div class="modal fade" id="sendMailModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title text-center">Ваше сообщение отправлено</h3>
            </div>
        </div>
    </div>
</div>
<script>
    function sendMail() {
        var link = "mailto:max_imk@mail.ru"
                 + "?cc=" + escape(document.getElementById('tbMail').value)
                 + "&subject=" + escape(document.getElementById('tbName').value)
                 + "&body=" + escape(document.getElementById('tbMessage').value)
        ;

        window.location.href = link;
    }
</script>

@*Контакты в соцсетях*@
<div class="Section5">
    <div class="container">
        <div class="row body-content text-center">
            <a href="https://www.facebook.com/groups/mechenite/" class="btn Icon" target="_blank">
                <i class="fa fa-3x fa-facebook-official" aria-hidden="true"></i>
            </a>
            <a href="https://vk.com/mechenite" class="btn Icon" target="_blank">
                <i class="fa fa-3x fa-vk" aria-hidden="true"></i>
            </a>
            <a class="btn Icon" id="instagramBtn">
                <i class="fa fa-3x fa-instagram" aria-hidden="true"></i>
            </a>

            <a class="btn Icon" id="mailBtn">
                <i class="fa fa-3x fa-envelope-o" aria-hidden="true"></i>
            </a>

            <a class="btn Icon" id="skypeBtn">
                <i class="fa fa-3x fa-skype" aria-hidden="true"></i>
            </a>
            <a class="btn Icon" id="phoneBtn">
                <i class="fa fa-3x fa-phone-square" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#instagramBtn").click(function () {
            $('#instagramModal').modal('show');
        });
    });
</script>
<div class="modal fade" id="instagramModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title text-center">Я скоро заведу инстаграм =)</h3>
            </div>
        </div>
    </div>
</div>

<script>
        $(document).ready(function () {
            $("#mailBtn").click(function () {
                $('#mailModal').modal('show');
            });
        });
</script>
<div class="modal fade" id="mailModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title text-center">Mechenite@yandex.ru</h3>
            </div>
        </div>
    </div>
</div>

<script>
        $(document).ready(function () {
            $("#skypeBtn").click(function () {
                $('#skypeModal').modal('show');
            });
        });
</script>
<div class="modal fade" id="skypeModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title text-center">Skype</h3>
            </div>
        </div>
    </div>
</div>

<script>
        $(document).ready(function () {
            $("#phoneBtn").click(function () {
                $('#phoneModal').modal('show');
            });
        });
</script>
<div class="modal fade" id="phoneModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title text-center">+375-29-111-11-11</h3>
            </div>
        </div>
    </div>
</div>