@{
    ViewBag.Title = "Home Page";
}


<div class="container container-fluid" >
    
    <div id="sectionAbout"></div>
    <div  class="container-fluid">
        <h1>РАЗДЕЛ О ПРОЕКТЕ</h1>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
    </div>


    <div id="sectionProduct"></div>
    <div class="container-fluid" >
        <h1>РАЗДЕЛ ИЗДЕЛИЯ</h1>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
    </div>
    <div id="sectionGallery"></div>
    <div class="container-fluid">
        <h1>РАЗДЕЛ ГАЛЕРЕЯ</h1>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
    </div>
    <div id="sectionContact"></div>
    <div class="container-fluid">
        <h1>РАЗДЕЛ КАК С НАМИ СВЯЗАТЬСЯ</h1>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
        <p>КАКОЙ-ТО ТЕКСТ</p>
       
            
    </div>
</div>