@{
    ViewBag.Title = "Lidia Mechenite";
}

@*Главное фото с логотипом*@

<div class="Section1">
    <div class="row">
        <div class="col-lg-offset-3 col-lg-6 text-center">
            <img src="~/Source/Logo.jpg" alt="Logo" class="img-rounded img-responsive" />
        </div>
    </div>
</div>

@*Галерея работ-проектов*@
<div class="Section2">
    <div class="container">
        <div class="row text-center SectionName">
            <p>Галерея</p>
        </div>

        @*Часть 1*@
        <div class="row">
            <ul class="media-list main-list">
                <li class="media col-sm-4">
                    <img class="img-responsive" src="~/Source/diarys/B_1.png" alt="...">
                    <br />
                    <img class="img-responsive" src="~/Source/diarys/B_2.png" alt="...">
                </li>
                <li class="col-sm-8">
                    <ul class="media-list">
                        <li class="media col-sm-4">
                            <img class="img-responsive" src="~/Source/folders/_IGP0489.jpg" alt="...">
                        </li>
                        <li class="media col-sm-4">
                            <img class="img-responsive" src="~/Source/folders/_IGP0489.jpg" alt="...">
                        </li>
                        <li class="media col-sm-4">
                            <img class="img-responsive" src="~/Source/folders/_IGP0580.jpg" alt="...">

                        </li>
                        <li class="media col-sm-12">
                            <br />
                            <img class="img-responsive" src="~/Source/diarys/Pic_5.png" alt="...">
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <br />

        @*Часть 2*@
        <div class="row">
            <div class="col-sm-7">
                <img class="img-responsive" src="~/Source/NoteBooks/1.jpg" alt="...">
            </div>
            <div class="col-sm-5">
                <ul class="media-list main-list">
                    <li class="media col-sm-6">
                        <img class="img-responsive" src="~/Source/NoteBooks/2.jpg" alt="...">
                    </li>
                    <li class="media col-sm-6">
                        <img class="img-responsive" src="~/Source/NoteBooks/_IGP0898.jpg" alt="...">
                    </li>
                    <li class="media col-sm-12">
                        <br />
                        <img class="img-responsive" src="~/Source/NoteBooks/4.jpg" alt="...">
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-8">
        <button type="button" class="btn btn-block" data-toggle="collapse" data-target="#AllGalery">
            Смотреть все работы
        </button>
    </div>
    <div id="AllGalery" class="collapse text-center">
        <p>
            Здесь дожны быть остальные работы из галереи
        </p>
    </div>
</div>


@*Обо мне*@
<div class="Section3">
    <div class="container">
        <div class="row text-center SectionName">
            <p>Обо мне</p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-6 col-md-6 Text">
                <p></p>
                <p></p><p></p>
                <p>
                    Однажды я поняла, что сущность человека отражается во всем, к чему он прикасается. Все, абсолютно все вещи, которыми окружает себя их хозяин, что-то о нем рассказывают. И наоборот, мы интуитивно стремимся найти "свои" вещи, "своих" людей.
                </p>
                <p>
                    Согласитесь, мы всегда точно знаем, если нашли "свое" платье, никаких сомнений не возникает. Мои коллеги называют это явление "встречей" с вещью. Встреча в этом смысле происходит, когда мы находим что-то, точно отражающее нас самих, наше состояние и мироощущение.
                </p>
                <p>
                    Есть выражение: "Скажи мне, кто твой друг, и я скажу, кто ты". Делая блокнот, абсолютно все: цвет, фактуру, вид застежки, аксессуары или их отсутствие, формат, форму, внутреннее наполнение, я подбираю исходя из будущего хозяина. В каждой детали есть смысл.
                </p>
                <p>
                    Поэтому своим клиентам я предлагаю не просто изделия высокого качества, я предлагаю встречи с их экзистенциальными вещами. Как нет двух одинаковых людей, так и не может быть двух одинаковых блокнотов.
                </p>
            </div>
            <div class="col-sm-6 col-lg-6 col-md-6 text-center">
                <img src="~/Source/About.jpg" alt="Foto" class="img-rounded img-responsive" />
            </div>
        </div>
    </div>
</div>

@*Как заказать*@
<div class="Section4">
    <div class="container">
        <div class="row text-center SectionName">
            <p>Как заказать</p>
        </div>

        <div class="col-sm-7 TextContact">
            <p>
                Просто напишите или позвоните мне и сообщите о своем желании приобрести изделие.
            </p>
            <p>
                После того, как мы с вами обсудим основную концепцию и детали, я подготовлю эскиз.
            </p>
            <p>
                Для изготовления мне нужно от 1 до 4 недель в зависимости от сложности работы.
            </p>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="text" class="form-control" placeholder="Имя">
                </div>
                <br />
                <div class="col-sm-12">
                    <input type="text" class="form-control" placeholder="Электронный адрес">
                </div>
                <br />
                <div class="col-sm-12">
                    <textarea class="form-control" rows="3" placeholder="Сообщение"></textarea>
                </div>
                <br />
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-success form-control">Отправить</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</div>

@*Контакты в соцсетях*@
<div class="Section5">
    <div class="container">
        <div class="row body-content text-center">
            <a class="btn Icon">
                <i class="fa fa-3x fa-facebook-official" aria-hidden="true"></i>
            </a>
            <a class="btn Icon">
                <i class="fa fa-3x fa-vk" aria-hidden="true"></i>
            </a>

            <a class="btn Icon">
                <i class="fa fa-3x fa-instagram" aria-hidden="true"></i>
            </a>

            <a class="btn Icon">
                <i class="fa fa-3x fa-envelope-o" aria-hidden="true"></i>
            </a>

            <a class="btn Icon">
                <i class="fa fa-3x fa-skype" aria-hidden="true"></i>
            </a>
            <a class="btn Icon">
                <i class="fa fa-3x fa-phone-square" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>

